<%- include('../../layout/header.ejs') %>

<div class="">
  <div class="flex flex-col gap-3 container mx-auto my-10 w-3/5">
    <div class="flex items-center justify-between">
      <h1 class="text-3xl font-bold">Doctors</h1>

    </div>
    <div class=" bg-white rounded shadow">
      <table class="min-w-full text-left text-sm font-light">
        <thead class="border-b font-medium dark:border-neutral-500">
          <tr>
            <th scope="col" class="px-6 py-4">#</th>
            <th scope="col" class="px-6 py-4">Name</th>
            <th scope="col" class="px-6 py-4">Subjects</th>
            <th scope="col" class="px-6 py-4">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user=> { %>
          <tr class="border-b dark:border-neutral-500">
            <td class="whitespace-nowrap px-6 py-4 font-medium"> <%= user.id %> </td>
            <td class="whitespace-nowrap px-6 py-4"><%= user.name %></td>
            <td class="whitespace-nowrap px-6 py-4"><%= user.subjects.length %></td>
            <td class="whitespace-nowrap px-6 py-4 flex items-center gap-3">
              <a class="bg-green-500 p-2 text-white rounded px-4 py-2" href="/admin/doctors/sub/<%= user.id %>"><i class="fa fa-eye mr-1"></i>View</a>
              
              <a class="bg-blue-500 p-2 text-white rounded px-4 py-2" href="/admin/doctors/modify/<%= user.id %>">
                <i class="fa fa-pen mr-1"></i> Assign
              </a>
            </td>

          </tr>

          <% }) %>

        </tbody>
      </table>
    </div>
  </div>
</div>


<%- include('../../layout/footer.ejs') %>