<%- include('../layout/header.ejs') %>
  <div class="">
    <div class="flex flex-col gap-3 container mx-auto my-10 w-3/5">
      <div class="flex items-center justify-between">
        <h1 class="text-3xl font-bold">Departments</h1>
      </div>
      <div class=" bg-white rounded shadow">
        <table class="min-w-full text-left text-sm font-light">
          <thead class="border-b font-medium dark:border-neutral-500">
            <tr>
              <th scope="col" class="px-6 py-4">#</th>
              <th scope="col" class="px-6 py-4">Name</th>
              <th scope="col" class="px-6 py-4">Code</th>
            </tr>
          </thead>
          <tbody>

            <% Departments.forEach((Department, idx)=> { %>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap px-6 py-4 font-medium">
                  <%= idx + 1 %>
                </td>
                <td class="whitespace-nowrap px-6 py-4">
                  <%= Department.name %>
                </td>
                <td class="whitespace-nowrap px-6 py-4">
                  <%= Department.code %>
                </td>
              </tr>
              <% }) %>

          </tbody>
        </table>
      </div>
      <div class="">
        <a href="/subjects" class="bg-gray-700" style="border-radius: 5px; padding: 5px 10px 5px 10px;  color:white; font-size: 20px;">Back</a>
      </div>

    </div>

  </div>


  <%- include('../layout/footer.ejs') %>