<%- include('../layout/header.ejs') %>
    <div class="contianer mx-auto py-5  w-3/5 ">
        <h1 class="text-3xl font-bold mt-5">Edit subject</h1>
        <div class="bg-white p-5 rounded bg-white shadow my-3" x-data="{type: 'Student'}">

            <form class="mt-2" action="/subjects/Update/<%= subject.id %>" method="post">

                <div class="mb-4">
                    <label for="name" class="sr-only">Name</label>
                    <input type="text" name="name" id="name" placeholder="Name" value="<%= subject.name %>"
                        class="bg-gray-100 border-2 w-full p-4 rounded-lg">
                </div>

                <div class="mb-4">
                    <label for="code" class="sr-only">Code</label>
                    <input type="text" name="code" id="code" placeholder="Code" value="<%= subject.code %>"
                        class="bg-gray-100 border-2 w-full p-4 rounded-lg">
                </div>

                <div class="mb-4">
                    <select id="Department"  name="Department" value="<%=%>"  class="bg-gray-100 border-2 w-full p-4">
                        <% Departments.forEach((Department, idx)=> { %>
                          <option value="<%=Department.id%>"<%=(subject.departmentId==Department.id)?selected:data%>><%=Department.name%></option>
                        <% }) %>
                    </select>  
                </div>

                <div class="mb-4">
                    <div>
                        <table class="table w-full table-auto min-w-full text-left text-sm font-light bg-white rounded shadow">
                          <thead class="border-b font-medium dark:border-neutral-500">
                            <tr>
                              <th scope="col" class="px-6 py-4">#</th>
                              <th scope="col" class="px-6 py-4">Name</th>
                              <th scope="col" class="px-6 py-4">Code</th>
                              <th scope="col" class=" py-4">Actions</th>
                            </tr>
                          </thead>
                          <tbody id="body">
                          </tbody>
                        </table>
                      </div>
                </div>
                <div class="mb-4">
                    <select id="Subjects"  class="bg-gray-100 border-2 w-full p-4" onchange="Add_subject()">
                    </select>
                </div>
                

                <input type="text" value="<%=JSON.stringify(subjects)%>" id="Not_Use" hidden>
                <input type="text" name="Use" value="<%=JSON.stringify(dependencies)%>" id="Use" hidden>
                <input type="text" name="dependencies" value="<%=subject.id%>" id="subjectID" hidden>

                <div>
                    <button type="submit" class="bg-green-500 text-white px-4 py-3 rounded font-medium ">Update</button>
                </div>
            </form>
        </div>
        <a href="/subjects" class="bg-gray-700 text-white px-4 py-2 rounded" style="color:white; font-size: 20px;">Back</a>

    </div>

    <script>
        function build_view(Subjects,SubR){
            subjectID =document.getElementById("subjectID").value
            console.log(subjectID)
            var html = '<option value="" selected disabled>Select Subject</option>'
            Subjects.forEach((sub, idx)=> { 
                if(sub.id!=Number(subjectID))
                    html += '<option value="'+sub.name+'">'+sub.name+'</option>'
            })
            document.getElementById("Subjects").innerHTML=""
            document.getElementById("Subjects").innerHTML=html
    
            //body
            var body = document.getElementById("body")
            var hBody = ""
            SubR.forEach((subject, idx)=> {
            hBody +='<tr class="border-b dark:border-neutral-500">'
                    +'<td class="whitespace-nowrap px-6 py-4 font-medium">'
                    +(idx+1)
                    +'</td>'
                    +'<td class="whitespace-nowrap px-6 py-4 ">'
                    +subject.name
                    +'</td>'
                    +'<td class="whitespace-nowrap px-6 py-4">'
                    +subject.code
                    +'</td>'
            hBody +='<td class="whitespace-nowrap px-6 py-4 text-center">'
                    +'<a class="text-blue-500 text-center underline" style="cursor: pointer;" onclick="delete_subject(\''+subject.name+'\')">'
                    +'<i class="fa-regular fa-xmark" style="color: #ff0000;"></i>'
                    +'</a></td>'
            hBody +='</tr>'    
            })
            body.innerHTML=hBody
    
          }
          window.onload = start_window()

        function start_window(){
            var inputNotUse = document.getElementById("Not_Use")
            var notused = inputNotUse.value     
            notused = JSON.parse(notused)
            var inputUse = document.getElementById("Use")
            var used = inputUse.value
            used = JSON.parse(used)
            notused = notused.filter(item=>{
                var flag=1
                for(i=0;i<used.length;i++){
                    if(used[i].id==item.id){
                        flag=0
                        break
                    }
                }
                if(flag==1){return item}
            })
            inputNotUse.value = JSON.stringify(notused) 
            inputUse.value = JSON.stringify(used)
            build_view(notused,used)
        }
        function Add_subject(){
            var inputNotUse = document.getElementById("Not_Use")
            var notused = inputNotUse.value     
            notused = JSON.parse(notused)
            var inputUse = document.getElementById("Use")
            var used = inputUse.value
            used = JSON.parse(used)
            var selected = document.getElementById("Subjects")
            var subject
            notused = notused.filter(item=>{
                if(item.name==selected.value){
                    subject = item
                }
                else {
                    return item
                }
            })
            if(subject){
                used.push(subject)
                inputNotUse.value = JSON.stringify(notused) 
                inputUse.value = JSON.stringify(used)
            }       
            build_view(notused,used)
        }
        function delete_subject(subjectName){
            var inputNotUse = document.getElementById("Not_Use")
            var notused = inputNotUse.value     
            notused = JSON.parse(notused)
            var inputUse = document.getElementById("Use")
            var used = inputUse.value
            used = JSON.parse(used)
            var subject
            used = used.filter(item=>{
                if(item.name==subjectName){
                    subject = item
                }
                else {
                    return item
                }
            })
            if(subject){
                notused.push(subject)
                inputNotUse.value = JSON.stringify(notused) 
                inputUse.value = JSON.stringify(used)
            }       
            build_view(notused,used)
        }
    
    </script>



<%- include('../layout/footer.ejs') %>