<%- include('../layout/header.ejs') %>
    <div class="contianer mx-auto py-5  w-3/5 ">

        <a href="/users" class="bg-blue-500 text-white px-4 py-2 rounded">Back</a>
        <h1 class="text-3xl font-bold mt-5">Edit User</h1>
        <div class="bg-white p-5 rounded bg-white shadow my-3">

            <form class="mt-2" action="/users/update/<%= user.id %>" method="post">
                <% if (user.isStudent) { %>
                    <div class="mb-4">
                        <label for="email" class="sr-only">Academic Number</label>
                        <input type="text" name="code" id="code" placeholder="code"
                            class="bg-gray-100 border-2 w-full p-4 rounded-lg" value="<%= user.academicNumber %>">
                    </div>
                    <% } %>

                        <div class="mb-4">
                            <label for="email" class="sr-only">Name</label>
                            <input type="text" name="name" id="name" placeholder="Name" value="<%=user.name%>"
                                class="bg-gray-100 border-2 w-full p-4 rounded-lg">
                        </div>

                        <div class="mb-4">
                            <label for="email" class="sr-only">Email</label>
                            <input type="text" name="departmentId" id="departmentId" placeholder="departmentId" value="<%=user.email%>"
                                class="bg-gray-100 border-2 w-full p-4 rounded-lg">
                        </div>

                        <div class="mb-4">
                            <label for="new_password" class="sr-only">New Password</label>
                            <input type="password" name="new_password" id="new_password" placeholder="New Password"
                                class="bg-gray-100 border-2 w-full p-4 rounded-lg" v>
                        </div>


                        <div>
                            <button type="submit"
                                class="bg-blue-500 text-white px-4 py-3 rounded font-medium ">Update</button>
                        </div>
            </form>
        </div>
    </div>

    <%- include('../layout/footer.ejs') %>