<%- include('../layout/header.ejs') %>
  <div>
    <div class="flex flex-col gap-3 container mx-auto my-10 w-3/5">
      <div class="flex items-center justify-between">
        <h1 class="text-3xl font-bold">Users</h1>
        <a class="px-4 py-2 bg-green-500 text-white rounded shadow" href="/users/add">
          <i class="fa fa-add"></i>
          Add
        </a>
      </div>
      <div>
        <table class="table w-full table-auto min-w-full text-left text-sm font-light bg-white rounded shadow">
          <thead class="border-b font-medium dark:border-neutral-500">
            <tr>
              <th scope="col" class="px-6 py-4">Id</th>
              <th scope="col" class="px-6 py-4">Type</th>
              <th scope="col" class="px-6 py-4">Name</th>
              <th scope="col" class="px-6 py-4">Email</th>
              <th scope="col" class="px-6 py-4">Subjects</th>
              <th scope="col" class="px-6 py-4">Actions</th>
            </tr>
          </thead>
          <tbody>

            <% users.forEach((user, idx)=> { %>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap px-6 py-4 font-medium">
                  <a href="/users/<%= user.id%>">
                    <%= idx + 1 %>
                  </a>
                </td>
                <td class="whitespace-nowrap px-6 py-4 ">
                  <span class="text-xs rounded bg-gray-300 text-gray-800 font-bold px-2 py-1 ">
                    <%= user.type %>
                  </span>
                </td>
                <td class="whitespace-nowrap px-6 py-4">
                  <%= user.name %>
                </td>
                <td class="whitespace-nowrap px-6 py-4">
                  <%= user.email %>
                </td>
                <% if (user.isDoctor) { %>
                  <td class="whitespace-nowrap px-6 py-4 text-center">
                    <a class="text-blue-500 text-center underline" href="/admin/doctors/modify/<%= user.id %>">
                      <%= user.subjects.length %>
                    </a>
                  </td>
                  <% }else { %>
                  <td class="whitespace-nowrap px-6 py-4 text-center">
                  </td>
                  <% } %>
                    <td class="whitespace-nowrap px-6 py-4 flex items-center gap-3">
                      <a class="bg-green-500 p-2 text-white rounded px-4 py-2" href="/users/<%= user.id %>"><i
                          class="fa fa-eye mr-1"></i>View</a>
                      <a class="bg-blue-500 p-2 text-white rounded px-4 py-2" href="/users/edit/<%= user.id %>">
                        <i class="fa fa-pen mr-1"></i> Edit
                      </a>

                      <form action="/users/delete/<%= user.id %>" method="POST">
                        <button type="submit" class="bg-red-500 p-2 text-white rounded px-4 py-2">
                          <i class="fa fa-trash mr-1"></i>Delete</button>
                      </form>

                    </td>
              </tr>
              <% }) %>

          </tbody>
        </table>
      </div>
    </div>
  </div>


  <%- include('../layout/footer.ejs') %>